.input-search {
    margin:7px;
}
.inline{
    display: inline-block;
}
.select-search{
    margin:7px;
}
input#valueSearch {
    height: 28px;
    width: 23%;
    font-size: 5mm;
    direction: rtl;
}
.closeBtn:hover{
    color:black;
}
.cleanBtn:hover{
    color: black;
    border-bottom: 1px solid #000000;;
}
.cleanBtn{
    float:left; 
    color: #4da6ff;
    margin:3px;
    background-color:#e6f2ff;
     border:none;
     padding:'0!important';
     font: inherit;
     border-bottom: 1px solid #4da6ff;
     cursor: pointer;
}
.closeBtn{
    /*display:inline-block;*/
    float: left; 
    color: '#4da6ff';
    margin:3px;
    border:'none';
    cursor: 'pointer';
  background-color:'#e6f2ff!important';
}
.search-wrap {
  /*  height: 150px;*/
    background-color:#e6f2ff;/*#507dabc9;#266e77c9; #0c5761;*/
}
.wrapSearchBtns{
    width: 58%;
    margin: auto;
    display: inline-block;
  /*  margin-right: 9%;*/
}

.search-area {
    padding-top: 28px;
}

select#selectedJobField {
    width: 86%;
    height: 24px;
    direction: rtl;
    font-size: 14px;
    color: white;
    background-color:rgb(48, 48, 48);
    font-family: Roboto, sans-serif;
    text-align:center;
}
.MuiSelect-icon-5{
    color:white !important;
}
select#selectedJobField option{
    
    text-align: left;
    font-size: large;
    direction: rtl;
}


.inline.search-type {
    width: 80%;
}
.wrapRole{
    height:100px;
    display:inline-block;
}
#btnSearch {
    width: 10%;
    height: 34px;
    margin: 2px;
}

.divDialogSearch {
    display: inline-block ;
    width: 10%;
}
/*.divDialogSearch div,.divDialogSearch dialog{
    width: 300px;
}*/
.searchChoose-role,.searchChoose-jobfield,.searchChoose-region,.searchChoose-scopes{
    width:100%;
    margin-bottom: 6px;   
    background-color: #cce6ff;
    padding: 5px;
    border-radius: 11px;
    text-align: center;
}
.wrapchoose{
    /*display: inline-block;
    text-align: right;
    width: 16%;
    margin-right:3px;*/

    display: inline-block;
    width: 21%;
    margin-left: 6px;
    font-size: smaller;
    padding: 5px;
    border-radius: 11px;
    text-align: center;
}
.searchRow2{
    width: 50%;
    margin-left: 32%;
}
.MuiDialog-paper-59.MuiDialog-paperWidthSm-61 {
    width: 600px; 
    border: #4da6ff solid 2px;

}
.MuiDialog-paperWidthSm-127 {
    max-width: 641px;
    width: 600px;
    border: #4da6ff solid 2px;
}
.searchBtnWrap{
    display: inline-block;
    width: 16%;
    margin-right: 7px;
}
/*.searchChoose-region{
    display: inline-block;
    text-align: right;
    width: 20%;
}*/
.closeBtn{
    font-size: 5mm;
    height: 29px;
    float: left;
    color: rgb(77, 166, 255);
    background-color: white;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 0px;
    border-style: none;
    border-color: white;
    border-image: initial;
}
.MuiButton-contained-10,.MuiButton-root-1{
    color: #4da6ff;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    border: #4da6ff solid 2px; 
}
.dialogSearchBtn {
    background-color: transparent;
    
    cursor: pointer;
    color: black;
    border-style: none;
    border-image: none;
    font-size: larger;
    font-family: -webkit-pictograph;
}
.dialogRegionBtn,.dialogJobFieldBtn {
    background-color: transparent;
    color: initial;
    cursor: pointer;
    color: black;
    border-style: none;
    border-image: none;
    font-size: larger;
    font-family: -webkit-pictograph;
}
.MuiTypography-title-169{
    color:blue;
}
.formErrors {
    width: 53%;
    display: inline-block;
    color: red;
    font-style: italic;
    font-family: initial;
}

.searchChoose {
    width: 100%;
    direction: rtl;
    display: inline-block;
}
.searchBtns{
    width:20%;
}
.autocomplete ,input{
    display: inline-block;
   font-size: 5mm;  
    height:29px;
}
